<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <!-- a SessionFactory instance listed as /jndi/name -->
    <session-factory>
        <!-- properties -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/sakila</property>
        <property name="connection.username">root</property>
        <property name="connection.password">Ac120788</property>

        <!--sql dialect-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!--echo to Stdout-->
        <property name="show_sql">true</property>

        <mapping class="com.hibernate.data.entities.sakila.Address"/>
        <mapping class="com.hibernate.data.entities.sakila.City"/>
        <mapping class="com.hibernate.data.entities.sakila.Country"/>
        <mapping class="com.hibernate.data.entities.sakila.Category"/>
        <mapping class="com.hibernate.data.entities.sakila.Customer"/>
        <mapping class="com.hibernate.data.entities.sakila.Store"/>
        <mapping class="com.hibernate.data.entities.sakila.Film"/>

        <mapping class="com.hibernate.data.entities.sakila.Language"/>
        <mapping class="com.hibernate.data.entities.sakila.FilmText"/>
        <mapping class="com.hibernate.data.entities.sakila.Actor"/>

        <mapping class="com.hibernate.data.entities.sakila.Inventory"/>
        <mapping class="com.hibernate.data.entities.sakila.Payment"/>
        <mapping class="com.hibernate.data.entities.sakila.Rental"/>
        <mapping class="com.hibernate.data.entities.sakila.Staff"/>





    </session-factory>

</hibernate-configuration>